/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------header-------------------------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav-list .link:hover {
  color: #404bbf;
}
.header-nav-list .link:focus {
  color: #404bbf;
}

.header-list-item .link {
  padding: 24px 0;
  display: block;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-item:first-child .link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-item.first .link {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address .link:hover {
  color: #404bbf;
}

.header-address .link:focus {
  color: #404bbf;
}

.adress-list {
  display: flex;
  gap: 40px;
}

/* -------------------------main-------------------------------- */
/* -------------------------section 1 ----------*/
.effective-solutions {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.effective-solutions-title {
  max-width: 496px;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.effective-solutions .page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.effective-solutions .button-order {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effective-solutions .button-order:hover {
  background-color: #404bbf;
}
.effective-solutions .button-order:focus {
  background-color: #404bbf;
}
/* -------------------------section 2 ----------*/
.features-item .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.features-item .title {
  margin-bottom: 8px;
}

/* -------------------------section 3 ----------*/
.our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}

.our-team-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-card img {
  display: block;
  width: 100%;
  height: auto;
}

.team-card-info {
  padding: 32px 0;
  text-align: center;
}

.team-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.team-card-profession {
  font-size: 16px;
  color: #6c6c80;
  margin-bottom: 8px;
}

.team-card-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card-icon-list-item {
  width: 40px;
  height: 40px;
}

.team-card-icon-list-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-icon-list-item .link:hover,
.team-card-icon-list-item .link:focus {
  background-color: #404bbf;
}

.team-card-icon-list-item .link .icons {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* -------------------------section 4 ----------*/
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-image .text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-card:hover .project-image .text {
  transform: translateY(0%);
}

.project-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-image {
  position: relative;
  overflow: hidden;
}

/* -------------------------footer-------------------------------- */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .footer-container {
  display: flex;
  align-items: baseline;
}
.footer .text-container {
  margin-right: 120px;
}
.footer .social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer .social .footer-network {
  display: flex;
  gap: 16px;
}
.footer-network-item {
  width: 40px;
  height: 40px;
}
.footer-network-item .link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-network-item .link:hover,
.footer-network-item .link:focus {
  background-color: #31d0aa;
}
.footer-network-item .link .icons {
  fill: #f4f4fd;
}

.footer-form {
  margin-left: 80px;
}

.footer-form .text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form .form {
  display: flex;
  gap: 24px;
}
.footer-form .enter-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form .enter-email::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.btn-subscribe .icons {
  margin-left: 16px;
  fill: #ffffff;
}

/*-------------------MODAL---------------------------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-btn-cancel {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-cancel:hover,
.modal-btn-cancel:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal .btn-cancel-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .text-hint {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-contact-form .contact-form {
  margin-bottom: 8px;
}
.modal-contact-form .label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-contact-form .input-container {
  position: relative;
}
.modal-contact-form .contact-form .input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form .contact-form .input:focus {
  border-color: #4d5ae5;
}
.modal-contact-form .contact-form .input-container .icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form .input:focus + .icons {
  fill: #4d5ae5;
}

/*-------------------- Text-area ---------------------- */
.comment-container {
  margin-bottom: 16px;
}
.modal-contact-form .comment-container .text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-contact-form .comment-container .text-area:focus {
  border-color: #4d5ae5;
}

/*-------------------- Checkbox ---------------------- */
.modal-contact-form .checkbox-container {
  margin-bottom: 24px;
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox:checked + .label-checkbox > .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

/*-------------------- Button ---------------------- */
.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
