/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------------header-------------------------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav-list .link:hover {
  color: #404bbf;
}
.header-nav-list .link:focus {
  color: #404bbf;
}

.header-list-item .link {
  padding: 24px 0;
  display: block;
}

.header-address {
  font-style: normal;
}
.header-address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address .link:hover {
  color: #404bbf;
}

.header-address .link:focus {
  color: #404bbf;
}

.adress-list {
  display: flex;
  gap: 40px;
}

/* -------------------------main-------------------------------- */
/* -------------------------section 1 ----------*/
.effective-solutions {
  padding: 188px 0;
}
.effective-solutions-title {
  max-width: 496px;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.effective-solutions {
  background-color: #2e2f42;
}
.effective-solutions .page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.effective-solutions .button-order {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.effective-solutions .button-order:hover {
  background-color: #404bbf;
}
.effective-solutions .button-order:focus {
  background-color: #404bbf;
}
/* -------------------------section 2 ----------*/
.features-item .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-item .title {
  margin-bottom: 8px;
}

/* -------------------------section 3 ----------*/
.our-team {
  background-color: #f4f4fd;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-card-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.team-card-info {
  padding: 32px 0;
}

/* -------------------------section 4 ----------*/
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  width: calc((100% - 48px) / 3);
}
.project-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* -------------------------footer-------------------------------- */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
