.hidden {
  display: none;
}

/* body */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*------------------- header----------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}
.header .logo {
  padding: 16px 0;
  display: block;
}
.header-nav-list,
.header-address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.header-nav-list .link:hover {
  color: #404bbf;
}
.header-nav-list .link:focus {
  color: #404bbf;
}

/* ------------MOBILE_MENU--------------- */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header .container {
    height: 72px;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header .logo {
    margin-right: 120px;
  }
  .header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    display: flex;
  }
  .header-nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .header-list-item .link {
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list-item:first-child .link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list-item.first .link {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
  }
  .header-address .link {
    font-size: 12px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address .link:hover {
    color: #404bbf;
  }

  .header-address .link:focus {
    color: #404bbf;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .header .logo {
    margin-right: 76px;
  }
  .header-nav-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-list-item .link {
    padding: 24px 0;
    display: block;
    position: relative;
  }
  .header-address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
/* ---------------------MOBILE_MENU------------------------ */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container.container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.btn-mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close:hover,
.mobile-icon-close:focus {
  fill: #ffffff;
}

.btn-mobile-menu-close:hover,
.btn-mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-mobile-menu-close:hover .mobile-icon-close,
.btn-mobile-menu-close:focus .mobile-icon-close {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link.current {
  color: #404bbf;
}

.mobile-menu-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-link.current {
  color: #404bbf;
}

.mobile-menu-list-soc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

.mobile-menu-item-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mobile-menu-item-soc-link:hover,
.mobile-menu-item-soc-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* -------------------------main-------------------------------- */
/* ---------------------SECTION_1------------------------ */
.effective-solutions {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  margin: 0 auto;
}
.effective-solutions-title {
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.effective-solutions .button-order {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effective-solutions .button-order {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effective-solutions .button-order:hover {
  background-color: #404bbf;
}
.effective-solutions .button-order:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .effective-solutions {
    padding: 112px 0;
  }
  .effective-solutions-title {
    max-width: 496px;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
  }
  .effective-solutions .button-order {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .effective-solutions {
    padding: 188px 0;
  }
  .effective-solutions-title {
    max-width: 496px;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
  }
  .effective-solutions .button-order {
    margin-top: 48px;
  }
}

/* ---------------------SECTION_2------------------------ */

.features-item .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.features-item {
  display: block;
  width: 100%;
}
.features-item .title {
  margin-bottom: 8px;
  text-align: center;
}
.features-icons-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-item .title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .features-item .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .features .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .features-list {
    display: flex;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .features-item .title {
    margin-bottom: 8px;
  }
}

/* ---------------------SECTION_3------------------------ */
.our-team {
  background-color: #f4f4fd;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-card img {
  display: block;
  width: 100%;
  height: auto;
}

.team-card-info {
  padding: 32px 0;
  text-align: center;
}

.team-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.team-card-profession {
  font-size: 16px;
  color: #6c6c80;
  margin-bottom: 8px;
}

.team-card-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-card-icon-list-item {
  width: 40px;
  height: 40px;
}

.team-card-icon-list-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-icon-list-item .link:hover,
.team-card-icon-list-item .link:focus {
  background-color: #404bbf;
}

.team-card-icon-list-item .link .icons {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1158px) {
  .our-team-list {
    flex-wrap: nowrap;
  }
}
/* ---------------------SECTION_4------------------------ */
.portfolio {
  text-transform: capitalize;
  padding: 96px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.project-card {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.project-image .text {
  display: none;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.project-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .project-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .project-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .project-list {
    row-gap: 48px;
  }

  .project-card {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-card:hover,
  .project-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .project-image {
    position: relative;
    overflow: hidden;
  }

  .project-image .text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-image:hover .text,
  .project-image:focus .text,
  .project-card:hover .text,
  .project-card:focus .text {
    transform: translateY(0);
  }
}

/* ---------------------FOOTER------------------------ */
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer .logo {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}
.footer .logo-span {
  color: #f4f4fd;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.footer .social .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer .social .footer-network {
  display: flex;
  gap: 16px;
}
.footer-network-item {
  width: 40px;
  height: 40px;
}
.footer-network-item .link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-network-item .link:hover,
.footer-network-item .link:focus {
  background-color: #31d0aa;
}
.footer-network-item .link .icons {
  fill: #f4f4fd;
}
.footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-form .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form .enter-email {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form .enter-email::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
}
.btn-subscribe .icons {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer .footer-container {
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    padding: 0 108px;
  }

  .footer .text-container {
    justify-content: flex-start;
  }
  .footer .logo {
    justify-content: flex-start;
  }
  .footer .social {
    align-items: flex-start;
  }

  .footer .footer-form {
    align-items: flex-start;
  }

  .footer-form .form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form .enter-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .footer-container {
    padding: 0 15px;
    gap: 0;
  }

  .footer {
    padding: 100px 0;
  }

  .footer .text-container {
    margin-right: 120px;
  }

  .footer .footer-form {
    margin-left: auto;
  }
}

/*-------------------MODAL---------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 72px 16px 24px;

  border-radius: 4px;
  width: 288px;
  min-height: 623px;

  transform: translate(-50%, -50%);

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(is-open) .modal {
  transform: translate(-50%, -50%);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: #ffffff;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button:hover .modal-icon-close,
.modal-button:focus .modal-icon-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;

  padding-left: 38px;
  padding-right: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;

  margin-top: 4px;
}

.modal-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-group-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* ------CUSTOM CHECKBOX------ */

.form-group-checkbox {
  margin-bottom: 24px;
}

.modal-check-text {
  display: flex;
  align-items: center;
  margin: 16px 0 24px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-check-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  fill: transparent;

  margin-right: 8px;

  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
}
